---
import type { CollectionEntry } from "astro:content";
import ArrowIcon from "./ArrowIcon.astro";

type Props = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props;
---

<a
  href={`/${entry.collection}/${entry.slug}`}
  class="relative group flex flex-nowrap items-center py-3 px-4 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-200 ease-in-out"
  transition:name={`post-${entry.slug}`}
>
  <div class="flex flex-col flex-1 truncate">
    <div class="font-semibold" transition:name={`post-title-${entry.slug}`}>
      {entry.data.title}
    </div>
    <div class="text-sm">
      {entry.data.description}
    </div>
  </div>
  <ArrowIcon />
</a>
